global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
#   user haproxy
#   group haproxy
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
    ssl-default-bind-options no-sslv3

defaults
    log global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

listen smtp 192.168.0.1:25
    mode tcp
    option tcplog
    balance roundrobin
    source 0.0.0.0 usesrc clientip
    server quar 192.168.0.8:25 check weight 20
    server mg01 192.168.0.9:25 check weight 10
    server mg02 192.168.0.10:25 check weight 10

listen smtp_back 192.168.1.17:25
    mode tcp
    option tcplog
    balance roundrobin
#   source 0.0.0.0 usesrc clientip
    server bquar 192.168.1.50:25 check weight 20
    server bmg01 192.168.1.51:25 check weight 10
    server bmg02 192.168.1.52:25 check weight 10

listen stats 0.0.0.0:7777
    mode http
    stats enable
    stats uri /
    option httpclose
    stats admin if TRUE
    stats auth admin:MySecretPasswordForAll

